ConsoleApp1/.vs/
ConsoleApp2/ConsoleApp2/bin/
ConsoleApp2/ConsoleApp2/obj/
ConsoleApp1/ConsoleApp1/obj/
ConsoleApp2/.vs/
My first Console app/.vs/
My first Console app/My first Console app/obj/
myFirstConsoleApp/.vs/
myFirstConsoleApp/myFirstConsoleApp/bin/
myFirstConsoleApp/myFirstConsoleApp/obj/
